/* * {
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/* nav bar section starts */
.nav_bar {
    width: 100%;
    height: 110px;
    background: white;
    position: sticky;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0px;
    /* overflow-y: hidden; */
}

.nav_bar .menu-icon{
    display: none;
}



.nav_bar img {
    width: 120px;
    margin: 17px 0px 7px 100px;
}

.nav_bar ul {
    float: right;
    /* color: white; */
    color: red;
    position: relative;
    margin-top: 45px;
    margin-right: 50px;
    font-size: 14px;
    font-family: "Red Hat Display", sans-serif;

}

.nav_bar ul li {
    display: inline;
    margin: 10px;
    /* font-style: bold; */
    /* font-weight: 800px; */
    font-size: 16px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: #012945;
}

.nav_bar ul li a:hover {
    color: #005224;
    border-radius: 5px;



}

/* nav bar section end */



/* hero section starts */
.hero {
    width: 100%;
    height: 450px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hero .display {
    width: 99%;
    height: 150px;
    position: relative;
    top: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    margin-left: 10px;
    padding: 50px 0px 0px 0px;
}

.static{
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.hero .display .displayed {
    width: 100%;
    height: 100px;
    color: white;
    z-index: 800;
}

.hero .display .displayed marquee {
    margin-top: 40px;
}

/* hero section ends */


/* our_work section starts here */
.our_work {
    width: 100%;
    height: auto;
    font-size: normal;
    font-weight: normal;
    background-color: aliceblue;
    padding-bottom: 30px;
}

.our_work .work {
    width: 99%;
    margin-bottom: 10px;
    color: #012945;
    height: auto;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
}



.our_work .about_work {
    width: 99%;
    height: auto;
    display: flex;
    justify-content: center;
}

.our_work .about_work p {
    width: 80%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    font-size: 14px;
    line-height: 25px;

}

/* our_work section ends here */


/* about-us section starts here */

.about_us {
    width: 100%;
    height: auto;
}

.about_us .cont {
    width: 99%;
    height: 50px;
    color: #012945;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.about_us .contain {
    width: 99%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.about_us .pic {
    width: 25%;
    height: 320px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;

}

.about_us .pic img {
    width: 100%;
    height: auto;
    border-radius: 15px;

}

.about_us .bio {
    width: 50%;
    height: auto;
    background-color: aliceblue;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.about_us .bio p {
    margin: 25px;
    font-size: 12px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    line-height: 20px;
}

.about_us .bio p a {
    text-decoration: none;
    color: #012945;
}

.about_us .contain .but {
    position: absolute;
    width: 50%;
    border-radius: 0px 0px 15px 15px;
    top: 82%;

}

.about_us .contain .but h4 {

    width: 90px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px;
    background-color: #012945;
    color: white;
    margin-left: 200px;

}

.about_us .contain .but a {
    text-decoration: none;
}

/* contact us section ends here */

/* footer section begins here */
.footer {
    width: 99%;
    position: relative;
    height: 61vh;
    background-color: #012945;
}

.footer .foot_up {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-family: 'Courier New', Courier, monospace;

}

.footer .foot_up .foot_cont {
    width: 32%;
    height: 210px;
    justify-content: center;
    margin: 5px;
}

.footer .foot_up .foot_cont .cont_img {
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 20px;
}

.footer .foot_up .foot_cont .cont_img img {
    width: 50%;
    height: 25px;
    margin-top: 20px;

}

.footer .foot_up .foot_cont p {
    width: 70%;
    text-align: left;
    color: white;
    padding: 0px 20px 20px 20px;
    top: -10px;
    line-height: 20px;
    text-align: justify;
}

.footer .foot_up .foot_cont h4 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #dc4e0c;
    font-weight: normal;
    font-size: 18px;
}

.footer .foot_up .foot_cont ul {
    margin-left: 120px;
    color: white;
} 

.footer .foot_up .foot_cont ul li {
    padding: 5px;
}

.footer .foot_up .foot_cont ul li a {
    text-decoration: none;
    color: white;
}

.footer .foot_down {
    width: 100%;
    height: 50px;
    border-top: white 1.5px double;
    border-bottom: white 1.5px double;
    margin-top: 30px;
    display: flex;
}

.footer .foot_down .cont {
    width: 100%;
}

.footer .foot_down .cont a {
    text-decoration: none;
}

.footer .foot_down .cont img {
    width: 60%;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;

}

.footer .foot_down .cont p {
    color: white;
    margin-top: 17px;
    text-align: center;
}

/* 
 * { 
    border: solid red 1px;
 }  */

/* footer section ends here */



@media only screen and (max-width: 750px) {

/* *{
        border: 1px solid red;
    } */

    .nav_bar {
        max-width: 100%;
        /* background-color: #012945; */
        position: sticky;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        top: 0px; 
        /* overflow-y: hidden; */

    }

    .nav_bar ul{
        top: -50px;
        left: 50px;
        width: 90%;
        z-index: 1000;
        background: #012945;
        padding-bottom: 20px;
        /* color: white; */
        height: auto;
        display: none;
    }

    .nav_bar ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        /* color: white; */
        z-index: 2000;
        text-align: center;
    } 

    .nav_bar ul li a {
        color: white;
    }

    .nav_bar .menu-icon {
        float: right;
        position: relative;
        top: 40px;
        right: 40px;
        display: block;
    }

    .nav_bar img {
        width: 130px;
        margin: 5px 0px 7px 30px;
    }

    /* HERO SECTION */
    .hero {
        width: 100%;
        height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/group.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    
    .hero .display {
        width: 99%;
        height: 150px;
        position: relative;
        top: 80px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        margin-left: 10px;
        padding: 50px 0px 0px 0px;
    }
    
    .static{
        width: 100%;
        height: 30px;
        color: white;
        text-align: center;
        padding-top: 5px;
    }
    
    .hero .display .displayed {
        width: 100%;
        height: 100px;
        color: white;
        z-index: 800;
    }
    
    .hero .display .displayed marquee {
        margin-top: 40px;
    }

    /* ABOUT WORK */

    .our_work .about_work p {
        width: 80%;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-top: 10px;
        font-size: 12px;
        line-height: 25px;
    
    }

    /* HERO SECTION ENDS */

    /* ABOUT US SECTION */

    .about_us {
        width: 100%;
        height: auto;
    }
    
    .about_us .cont {
        width: 99%;
        height: 50px;
        color: #012945;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    }
    
    .about_us .contain {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .about_us .pic {
        width: 35%;
        height: 300px;
        margin: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    
    }
    
    .about_us .pic img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    
    }
    
    .about_us .bio {
        width: 55%;
        height: auto;
        background-color: aliceblue;
        border-radius: 15px;
        margin-top: 20px;
        padding-bottom: 40px;
    }
    
    .about_us .bio p {
        margin: 25px;
        font-size: 12px;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        line-height: 20px;
    }
    
    .about_us .bio p a {
        text-decoration: none;
        color: #012945;
    }
    
    .about_us .contain .but {
        position: absolute;
        width: 50%;
        border-radius: 0px 0px 15px 15px;
        top: 82%;
    
    }
    
    .about_us .contain .but h4 {
    
        width: 90px;
        text-align: center;
        font-family: sans-serif;
        margin-top: 25px;
        padding: 10px;
        border-radius: 30px;
        background-color: #012945;
        color: white;
        margin-left: 120px;
        font-size: 12px;
    }
    
    .about_us .contain .but a {
        text-decoration: none;
    }

    /* FOOTER STARTS */
    .footer {
        width: 99%;
        position: relative;
        height: auto;
        background-color: #012945;
    }
    
    .footer .foot_up {
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        font-family: 'Courier New', Courier, monospace;
        /* background-color: #9bacb8; */

    }
    
    .footer .foot_up .foot_cont {
        width: 32%;
        height: 210px;
        justify-content: center;
        margin: 5px;
        /* background-color: #3c3e3f; */

    }
    
    .footer .foot_up .foot_cont .cont_img {
        width: 100%;
        height: 50px;
        display: flex;
        padding-left: 20px;
    }
    
    .footer .foot_up .foot_cont .cont_img img {
        width: 70px;
        height: 50px;
        margin-top: 2px;
        margin-left: 45px;
    }
    
    .footer .foot_up .foot_cont p {
        width: 80%;
        text-align: left;
        color: white;
        padding: 0px 20px 20px 20px;
        top: -10px;
        line-height: 13px;
        text-align: justify;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .footer .foot_up .foot_cont h4 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #dc4e0c;
        font-weight: normal;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .footer .foot_up .foot_cont ul {
        margin-left: 15px;
        color: white;
        font-size: 12px;
        line-height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    } 
    
    .footer .foot_up .foot_cont ul li {
        padding: 5px;
    }
    
    .footer .foot_up .foot_cont ul li a {
        text-decoration: none;
        color: white;
    }
    
    .footer .foot_down {
        width: 100%;
        height: 50px;
        border-top: white 1.5px double;
        border-bottom: white 1.5px double;
        margin-top: 10px;
        display: flex;
    }
    
    .footer .foot_down .cont {
        width: 100%;
    }
    
    .footer .foot_down .cont a {
        text-decoration: none;
    }
    
    .footer .foot_down .cont img {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin-top: 5px;
    
    }
    
    .footer .foot_down .cont p {
        color: white;
        margin-top: 17px;
        text-align: center;
    }
    
    #last_foot_cont{
        margin-left: -15px;
        line-height: 15px;
    }

    #foot_img{
        width: 80px;
        height: auto;
    }


    .foot_down .cont{
        display: flex;
    }

}


@media only screen and (max-width: 679px) {

    /* nav bar section starts */
.nav_bar {
    width: 100%;
    height: 110px;
    background: white;
    position: sticky;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0px;
    /* overflow-y: hidden; */
}

.nav_bar img {
    width: 120px;
    margin: 17px 0px 7px 30px;
}

.nav_bar ul {
    float: right;
    margin-left: -150px;
    color: red;
    position: relative;
    margin-top: 45px;
    margin-right: 50px;
    font-size: 14px;
    font-family: "Red Hat Display", sans-serif;

}

.nav_bar ul li {
    display: inline;
    margin: 10px;
    /* font-style: bold; */
    /* font-weight: 800px; */
    font-size: 16px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: #012945;
}

.nav_bar ul li a:hover {
    color: #005224;
    border-radius: 5px;



}

/* nav bar section end */


}

@media only screen and (max-width: 679px) {

    /* *{
        border: 1px solid red;
        max-width: 90%;
    } */

    body {
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    .nav_bar {
        max-width: 100%;
        /* background-color: #012945; */
        position: sticky;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        top: 0px; 
        /* display: flex; */

    }

    .nav_bar ul{
        top: -50px;
        /* margin-left: 5px; */
        width: 100%;
        background: #012945;
        padding-bottom: 20px;
        /* color: white; */
        height: auto;
        display: none;
        justify-self: center;
    }

    .nav_bar ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        /* color: white; */
        z-index: -1000;
        text-align: center;
    } 

    .nav_bar ul li a {
        color: white;
    }

    .nav_bar .menu-icon {
        float: right;
        position: relative;
        top: 40px;
        right: 40px;
        display: block;
    }

    .nav_bar img {
        width: 100px;
        margin: 15px 0px 7px 30px;
    }

    /* HERO SECTION */

    .hero {
        width: 100%;
        height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/group.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    
    .hero .display {
        width: 99%;
        height: 150px;
        position: relative;
        top: 80px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        margin-left: 10px;
        padding: 50px 0px 0px 0px;
    }
    
    .static{
        width: 100%;
        height: 30px;
        color: white;
        text-align: center;
        padding-top: 5px;
    }
    
    .hero .display .displayed {
        width: 100%;
        height: 100px;
        color: white;
        z-index: 800;
    }
    
    .hero .display .displayed marquee {
        margin-top: 40px;
    }

    /* ABOUT WORK */

    .our_work .about_work p {
        width: 80%;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-top: 10px;
        font-size: 12px;
        line-height: 25px;
    
    }

    /* HERO SECTION ENDS */

    /* ABOUT US SECTION */

    .about_us {
        width: 100%;
        height: auto;
    }
    
    .about_us .cont {
        width: 99%;
        height: 50px;
        color: #012945;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    }
    
    .about_us .contain {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .about_us .pic {
        width: 35%;
        height: 300px;
        margin: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    
    }
    
    .about_us .pic img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    
    }
    
    .about_us .bio {
        width: 55%;
        height: auto;
        background-color: aliceblue;
        border-radius: 15px;
        margin-top: 20px;
        padding-bottom: 40px;
    }
    
    .about_us .bio p {
        margin: 25px;
        font-size: 12px;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        line-height: 20px;
    }
    
    .about_us .bio p a {
        text-decoration: none;
        color: #012945;
    }
    
    .about_us .contain .but {
        position: absolute;
        width: 50%;
        border-radius: 0px 0px 15px 15px;
        top: 82%;
    
    }
    
    .about_us .contain .but h4 {
    
        width: 90px;
        text-align: center;
        font-family: sans-serif;
        margin-top: 25px;
        padding: 10px;
        border-radius: 30px;
        background-color: #012945;
        color: white;
        margin-left: 120px;
        font-size: 12px;
    }
    
    .about_us .contain .but a {
        text-decoration: none;
    }

    /* FOOTER STARTS */
    .footer {
        width: 99%;
        position: relative;
        height: auto;
        background-color: #012945;
    }
    
    .footer .foot_up {
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        font-family: 'Courier New', Courier, monospace;
        /* background-color: #9bacb8; */

    }
    
    .footer .foot_up .foot_cont {
        width: 32%;
        height: 210px;
        justify-content: center;
        margin: 5px;
        /* background-color: #3c3e3f; */

    }
    
    .footer .foot_up .foot_cont .cont_img {
        width: 100%;
        height: 50px;
        display: flex;
        padding-left: 20px;
    }
    
    .footer .foot_up .foot_cont .cont_img img {
        width: 70px;
        height: 50px;
        margin-top: 2px;
        margin-left: 45px;
    }
    
    .footer .foot_up .foot_cont p {
        width: 80%;
        text-align: left;
        color: white;
        padding: 0px 20px 20px 20px;
        top: -10px;
        line-height: 13px;
        text-align: justify;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .footer .foot_up .foot_cont h4 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #dc4e0c;
        font-weight: normal;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .footer .foot_up .foot_cont ul {
        margin-left: 15px;
        color: white;
        font-size: 12px;
        line-height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    } 
    
    .footer .foot_up .foot_cont ul li {
        padding: 5px;
    }
    
    .footer .foot_up .foot_cont ul li a {
        text-decoration: none;
        color: white;
    }
    
    .footer .foot_down {
        width: 100%;
        height: 50px;
        border-top: white 1.5px double;
        border-bottom: white 1.5px double;
        margin-top: 10px;
        display: flex;
    }
    
    .footer .foot_down .cont {
        width: 100%;
    }
    
    .footer .foot_down .cont a {
        text-decoration: none;
    }
    
    .footer .foot_down .cont img {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin-top: 5px;
    
    }
    
    .footer .foot_down .cont p {
        color: white;
        margin-top: 17px;
        text-align: center;
    }
    
    #last_foot_cont{
        margin-left: -15px;
        line-height: 15px;
    }

    #foot_img{
        width: 80px;
        height: auto;
    }


    .foot_down .cont{
        display: flex;
    }

}

@media only screen and (max-width: 576px) {
    body {
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    .nav_bar {
        max-width: 100%;
        /* background-color: #012945; */
        position: sticky;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        top: 0px; 
        /* display: flex; */

    }

    .nav_bar ul{
        top: -50px;
        /* margin-left: 5px; */
        width: 100%;
        background: #012945;
        padding-bottom: 20px;
        /* color: white; */
        height: auto;
        display: none;
        justify-self: center;
    }

    .nav_bar ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        /* color: white; */
        z-index: -1000;
        text-align: center;
    } 

    .nav_bar ul li a {
        color: white;
    }

    .nav_bar .menu-icon {
        float: right;
        position: relative;
        top: 40px;
        right: 40px;
        display: block;
    }

    .nav_bar img {
        width: 100px;
        margin: 15px 0px 7px 30px;
    }

    /* HERO SECTION */

    .hero {
        width: 100%;
        height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/group.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    
    .hero .display {
        width: 99%;
        height: 150px;
        position: relative;
        top: 80px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        margin-left: 10px;
        padding: 50px 0px 0px 0px;
    }
    
    .static{
        width: 100%;
        height: 30px;
        color: white;
        text-align: center;
        padding-top: 5px;
    }
    
    .hero .display .displayed {
        width: 100%;
        height: 100px;
        color: white;
        z-index: 800;
    }
    
    .hero .display .displayed marquee {
        margin-top: 40px;
    }

    /* ABOUT WORK */

    .our_work .about_work p {
        width: 80%;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        margin-top: 10px;
        font-size: 12px;
        line-height: 25px;
    
    }

    /* HERO SECTION ENDS */

    /* ABOUT US SECTION */

    .about_us {
        width: 100%;
        height: auto;
    }
    
    .about_us .cont {
        width: 99%;
        height: 50px;
        color: #012945;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
    }
    
    .about_us .contain {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        justify-content: center;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .about_us .pic {
        width: 90%;
        height: 200px;
        margin: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    
    }
    
    .about_us .pic img {
        width: 80%;
        height: auto;
        border-radius: 15px;
    
    }
    
    .about_us .bio {
        width: 80%;
        height: auto;
        background-color: aliceblue;
        border-radius: 15px;
        margin-top: 20px;
        padding-bottom: 40px;
        padding: 20px;
        position: relative;
        left: 30px;
        }
    
    .about_us .bio p {
        margin: 25px;
        font-size: 12px;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        line-height: 20px;
    }
    
    .about_us .bio p a {
        text-decoration: none;
        color: #012945;
    }
    
    .about_us .contain .but {
        position: absolute;
        width: 50%;
        border-radius: 0px 0px 15px 15px;
        top: 85%;
        left: 10px;
    }
    
    .about_us .contain .but h4 {
    
        width: 90px;
        text-align: center;
        font-family: sans-serif;
        margin-top: 25px;
        padding: 10px;
        border-radius: 30px;
        background-color: #012945;
        color: white;
        margin-left: 120px;
        font-size: 12px;
    }
    
    .about_us .contain .but a {
        text-decoration: none;
    }

    /* FOOTER STARTS */
    .footer {
        width: 99%;
        position: relative;
        height: auto;
        background-color: #012945;
    }
    
    .footer .foot_up {
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
        padding-top: 5px;
        font-family: 'Courier New', Courier, monospace;
        /* background-color: #9bacb8; */

    }
    
    .footer .foot_up .foot_cont {
        width: 32%;
        height: 210px;
        justify-content: center;
        margin: 5px;
        /* background-color: #3c3e3f; */

    }
    
    .footer .foot_up .foot_cont .cont_img {
        width: 100%;
        height: 50px;
        display: flex;
        padding-left: 20px;
    }
    
    .footer .foot_up .foot_cont .cont_img img {
        width: 70px;
        height: 50px;
        margin-top: 2px;
        margin-left: 45px;
    }
    
    .footer .foot_up .foot_cont p {
        width: 80%;
        text-align: left;
        color: white;
        padding: 0px 20px 20px 20px;
        top: -10px;
        line-height: 13px;
        text-align: justify;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .footer .foot_up .foot_cont h4 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: #dc4e0c;
        font-weight: normal;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    
    .footer .foot_up .foot_cont ul {
        margin-left: 15px;
        color: white;
        font-size: 12px;
        line-height: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    } 
    
    .footer .foot_up .foot_cont ul li {
        padding: 5px;
    }
    
    .footer .foot_up .foot_cont ul li a {
        text-decoration: none;
        color: white;
    }
    
    .footer .foot_down {
        width: 100%;
        height: 50px;
        border-top: white 1.5px double;
        border-bottom: white 1.5px double;
        margin-top: 10px;
        display: flex;
    }
    
    .footer .foot_down .cont {
        width: 100%;
    }
    
    .footer .foot_down .cont a {
        text-decoration: none;
    }
    
    .footer .foot_down .cont img {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin-top: 5px;
    
    }
    
    .footer .foot_down .cont p {
        color: white;
        margin-top: 17px;
        text-align: center;
    }
    
    #last_foot_cont{
        margin-left: -15px;
        line-height: 15px;
    }

    #foot_img{
        width: 80px;
        height: auto;
    }


    .foot_down .cont{
        display: flex;
    }
}